body{
    text-align: center;
}
a{
    text-decoration: none;
    font-size: large;
    color:yellow

}
#menu{
    background-color: #50555e;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 1%;
}
.tlacitka{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 10fr;
}

#tlacitka_1{
    border-radius: 6px 6px 0px 0px;
    background-color: blue;
    border: none;
}
#tlacitka_2{
    border-radius: 6px 6px 0px 0px;
    background-color: blue;
    border: none;
}
#tlacitka_3{
    border-radius: 6px 6px 0px 0px;
    background-color: blue;
    border: none;
}
.graf{
    background-color: blueviolet;
}

#graf_1{
    background-color: green;
    margin: 100px;
}
#graf_2{
    background-color: red;
    margin: 100px;
}
#graf_3{
    background-color: blue;
    margin: 100px;
}
.prepinac{
    display: grid;
    grid-template-rows: 1fr 20fr;

}

.moznost_csv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    gap: 1%;

}
.moznost_csv5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.8fr;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    gap: 1%;

}
#csv_1{
    border-radius: 6px ;
    background-color: blue;
    border: none;
}
#csv_2{
    border-radius: 6px ;
    background-color: blue;
    border: none;
}
#csv_3{
    border-radius: 6px ;
    background-color: blue;
    border: none;
}
#csv_4{
    border-radius: 6px ;
    background-color: blue;
    border: none;
}
#csv_vstup1{
    border-radius: 6px ;
    border: none;
}
#csv_vstup2{
    border-radius: 6px ;
    border: none;

}